.filterLabel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.filterTitle {
  font-weight: 600;
  font-size: 16px;
}

.filterInput {
  font-size: 16px;
  max-width: 200px;
}
